<h2 style="text-align: center; width: 95%;">Create Announcement</h2>
<br>
<mat-divider fxFlex="1 0"></mat-divider>
<br>
<div class="inner-wrapper" style="text-align: center;">
    <form [formGroup]="announcementForm" (ngSubmit)="submitAnnouncementForm()" novalidate>
        <mat-card>
            <div class="controlers-wrapper">
                <!-- Current Date -->
                <h2> {{currentDate | date: 'MM-dd-yyyy'}} </h2>

                <!-- Subject -->
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Subject" formControlName="subject">
                    <mat-error *ngIf="handleError('subject', 'required')">
                        You must provide a<strong> Subject</strong>
                    </mat-error>
                </mat-form-field>

                <!-- Content -->
                <mat-form-field>
                    <textarea matInput class="myTextArea" cdkTextareaAutosize cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5" formControlName="content"></textarea>
                    <mat-error *ngIf="handleError('content', 'required')">
                        You must provide a<strong> Content</strong>
                    </mat-error>
                </mat-form-field>


                <!-- Submit & Reset -->
                <div class="full-wrapper button-wrapper">
                    <div class="button-wrapper">
                        <button class="AdminModuleButtons" mat-flat-button color="warn"> Create </button>
                        <button class="AdminModuleButtons" mat-flat-button color="accent" (click)="backPressed()"> Back
                        </button>
                    </div>
                </div>
            </div>
        </mat-card>
    </form>
</div>