<div class="title-group">
    <div>
        <h1 style="text-align: center; width: 90%;" class="mat-h1">Member Info</h1>
    </div>
    <br>
    <mat-divider fxFlex="1 0"></mat-divider>
    <br>
</div>

<div class="inner-wrapper" style="text-align: center;">
    <form [formGroup]="memberForm" (ngSubmit)="updateMemberForm()" novalidate>
        <!-- LEFT SIDE -->
        <mat-card>
            <div class="controlers-wrapper">

                <!-- First Name -->
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="First Name" formControlName="firstname">
                    <mat-error *ngIf="handleError('firstname', 'required')">
                        You must provide a<strong>player name</strong>
                    </mat-error>
                </mat-form-field>

                <!-- Last Name -->
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Last Name" formControlName="lastname">
                    <mat-error *ngIf="handleError('lastname', 'required')">
                        You must provide a<strong>player name</strong>
                    </mat-error>
                </mat-form-field>

                <!-- Date of Birth -->
                <mat-form-field class="example-full-width">
                    <input type="date" matInput placeholder="Date of Birth" formControlName="birthdate">
                    <mat-error *ngIf="handleError('birthdate', 'required')">
                        You must provide a<strong> date of birth</strong>
                    </mat-error>
                </mat-form-field>

                <!-- Email  -->
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email Address" formControlName="email">
                    <mat-error *ngIf="handleError('email', 'required')">
                        You must provide a<strong> Email Address</strong>
                    </mat-error>
                </mat-form-field>

                <!-- Submit & Reset -->
                <mat-card>
                    <div class="full-wrapper button-wrapper">
                        <div class="button-wrapper">
                            <button mat-flat-button color="warn">Update</button>
                        </div>
                    </div>
                </mat-card>
            </div>
        </mat-card>
    </form>
</div>