body{
    background-color: #424242 ;
    padding: 1px;
}
.errorMsg{
    color: tomato;
    text-align: center;
}
.login{
    color: darkorange;
    text-align: center;
}

.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.myDiv{
    width: 55%;
    background: #424242;
    border: darkorange 2px solid;
    color: white;
    border-radius: 1em;
    padding: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inputs1{
        width: 100%;
        display: block;
        color: white;
        margin-top: 50px;
        margin-bottom: 15px;

}
.inputs{
    width: 100%;
    display: block;
    color: white;
}
.myWrapper{
            padding-top: 20px;
            margin : 20px;
            position:  absolute;
            top : 50%;
            left: 50%;
            width: 500px;
            height:270px;
            border:1px solid darkorange;
            transform: translate(-50%, -50%);
}
.mySubmit{
    width: auto;
    display: block;
    color: #424242 ;
    margin : 0 auto;
    position: relative;
    
}
.regJoin2 {
    color: darkorange;
    text-align: center;
    


}
.regJoin1 {
    color: white;
    text-align: center;
}













