body{
    background-color: #424242 ;
    padding: 1px;
}
.errorMsg{
    color: darkorange;
    text-align: center;
}
.login{
    color: darkorange;
    text-align: center;
}
.inputs{
    width: 600px;
    display: block;
    color: white;
    margin : 0 auto;
    position: relative;
}
.myWrapper{
            padding-top: 20px;
            margin : 0 auto;
            position:  absolute;
            top : 50%;
            left: 50%;
            width: 700px;
            height:270px;
            border:1px solid darkorange;
            transform: translate(-50%, -50%);
}
.mySubmit{
    width: 600px;
    display: block;
    color: #424242 ;
    margin : 0 auto;
    position: relative;
}
.regJoin2 {
    color: darkorange;
    text-align: center;
    


}
.regJoin1 {
    color: white;
    text-align: center;
}













