<body>




  <h1 class="login">Martial Arts Gym</h1>
  <p *ngIf="error" class="errorMsg">Wrong Credentials, try again!</p>
  <mat-divider fxFlex="1 0"></mat-divider>
  <div class="myDiv">
    <!-- Form -->
    <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" #resetMemberRefForm="ngForm">
      <!-- Left block -->
      <mat-card>

        <!-- Email -->
        <mat-form-field class="inputs1" appearance="fill">
          <input type="email" matInput placeholder="example@email.com" formControlName="email">
          <mat-label>Email</mat-label>
          <mat-error *ngIf="handleError('email', 'email')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="handleError('email', 'required')">
            You must provide <strong>email</strong>
          </mat-error>
        </mat-form-field>

        <!-- Password -->
        <mat-form-field class="inputs"  appearance="fill">
          <input type="password" matInput placeholder="don't share your password" formControlName="password">
          <mat-label>Password</mat-label>
          <mat-error *ngIf="handleError('password', 'required')">
            You must provide <strong>password</strong>
          </mat-error>
        </mat-form-field>






        <!-- Submit & Reset -->
        <mat-card>
          <button mat-raised-button color="accent" class="mySubmit" [disabled]="loginForm.invalid">Submit</button>
        </mat-card>

        <p class="regJoin1">Not a member?
          <a routerLink="/register" class="regJoin2"> register here</a>
        </p>
      </mat-card>


    </form>

  </div>


</body>