body{
    background-color: #232323 ;
    padding: 1px;
}
.errorMsg{
    color: #F6F6F6;
    text-align: center;
}
.login{
    color: #008E8E;
    text-align: center;
}
.myLogoDiv{
    margin-right: 50px;
    margin-left: auto;
}


.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.myDiv{
    max-width: 400px;
    width: 70%;
    border: #008E8E 0.1em solid;
    background: #232323;
    color: white;
    border-radius: 1em;
    padding: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}
.myDiv:hover{
    box-shadow: 0px 45px 0px #008E8E;
    border: #232323 0.1em solid;
    margin-top: 5px;
}


.inputs1{
        width: 100%;
        display: block;
        color: white;
        margin-top: 50px;
        margin-bottom: 15px;

}
.inputs{
    width: 100%;
    display: block;
    color: white;
}
.myWrapper{
            padding-top: 20px;
            margin : 20px;
            position:  absolute;
            top : 50%;
            left: 50%;
            width: 500px;
            height:270px;
            border:1px solid #008E8E;
            transform: translate(-50%, -50%);
}
.mySubmit{
    width: auto;
    display: block;
    color: #424242 ;
    background-color: #F6F6F6;
    margin : 0 auto;
    position: relative;
    
}
.regJoin2 {
    color: #008E8E;
    text-align: center;
    


}
.regJoin1 {
    color: white;
    text-align: center;
}













