<span class="nav-tool-items" style="float: right;">
    <button mat-raised-button color="accent" (click)="back()"> Back </button>&nbsp;
</span>
<h1>Course Information </h1>

<mat-grid-list [cols]="columns" rowHeight="4:4" >
    <!-- left -->
    <mat-grid-tile>
        <mat-card class="myCard">
            <!-- ----------------------------------------------------------------------------- -->
            <div style="width: 100%; text-align: center; margin:auto;" class="controlers-wrapper">
                <table style="text-align:left;">
                    <tr>
                        <th>
                            <h3><label>Course Name:</label>&nbsp;</h3>
                        </th>
                        <td>
                            <p>{{course.name}}</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <h3><label>Course Instructors:</label>&nbsp;</h3>
        
                        </th>
                        <td>
                            <p *ngFor="let instructor of instructors">{{instructor.name}}</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <h3><label>Course Details:</label>&nbsp;</h3>
                        </th>
                        <td>
                            <p>{{course.details}}</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <h3><label>Course Schedule:</label>&nbsp;</h3>
                        </th>
                        <td>
                            <p *ngFor='let schedule of course.schedule'>{{schedule.day}}: &nbsp;&nbsp;{{schedule.start}} - {{schedule.end}}</p>
                        </td>
                    </tr>
                </table>
            </div>
           
        </mat-card>

    </mat-grid-tile>
    <!-- right -->
    <mat-grid-tile>
        <mat-card class="myCard">
            <!-- ------------------Member Table------------------------------------------------------ -->
            <br>
            <div class="title-group">
                <div>
                    <h3>Students</h3>
                </div>
                <br>
                <mat-divider fxFlex="1 0"></mat-divider>
                <br>
            </div>

            <div [hidden]="noMembers" class="container" style="width: 70%; margin: auto;">
                <table mat-table [dataSource]="memberDataSource" class="mat-elevation-z8">

                    <!-- Date Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element">{{element.member.firstname}} {{element.member.lastname}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="memberDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: memberDisplayedColumns;"></tr>
                </table>
                <mat-paginator #memberPaginator [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
            </div>

            <div *ngIf ="noMembers">
                <p style="text-align: center;">No Students</p>
            </div>
            
            <mat-card *ngIf="isLoading" 
               style="display: flex; justify-content: center; align-items: center">
              <mat-progress-spinner 
                color="primary" 
                mode="indeterminate">
              </mat-progress-spinner>
            </mat-card>
            <!-- ----------------------------------------------------------------------------- -->        
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
           
    <!-- Sessions Table------------------------------------------------------------------------- -->
   
    <div class="title-group">
        <div>
            <!-- <h1 style="text-align: center; width: 90%;" class="mat-h1">Course Sessions</h1> -->
            <h3 style="text-align: center; width: 90%;">
             Sessions
            </h3>
        <mat-divider fxFlex="1 0"></mat-divider>
        <br>
    </div>

    <div [hidden]="!sessions" class="container" style="width: 50%; margin: auto;">
        <table mat-table matSort 
            matSortActive="date" matSortDirection="desc" matSortDisableClear 
            [dataSource]="sessionDataSource" class="mat-elevation-z8">
    
            <!-- Date Column -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                <td mat-cell *matCellDef="let element">{{element.date | date: 'MM/dd/yyyy'}}</td>
            </ng-container>

            <!-- Day Column -->
            <ng-container matColumnDef="day">
                <th mat-header-cell *matHeaderCellDef> Day </th>
                <td mat-cell *matCellDef="let element">{{element.date | date: 'EEEE'}}</td>
            </ng-container>

            <!-- Time Column -->
            <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef> Time </th>
                <td mat-cell *matCellDef="let element"> {{element.start_time}} - {{element.end_time}} </td>
            </ng-container>

             <!-- Attendance Column -->
             <ng-container matColumnDef="attendees">
                <th mat-header-cell *matHeaderCellDef> Attendees </th>
                <td mat-cell *matCellDef="let element"> {{element.attendees.length}} </td>
            </ng-container>

             <!-- Feedback Column -->
             <ng-container matColumnDef="feedback">
                <th mat-header-cell *matHeaderCellDef> Feedback </th>
                <td mat-cell *matCellDef="let element"> {{element.feedback.length}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="viewSession(row)"></tr>
        </table>
        <mat-paginator style="background-color: #232323;" class="mat-elevation-z8" #sessionPaginator [pageSizeOptions]="[5, 10, 15]"></mat-paginator>

    </div>
    
    <!-- ----------------------------------------------------------------------------- -->


<div class="footer">
    <p>Teambits &copy; 2019-2020</p>
  </div>