<div class="title-group">
    <div style="width: 95%;">
        <h2 style="text-align: center;">My Courses</h2>
    </div>
    <br>
    <mat-divider fxFlex="1 0"></mat-divider>
    <br>
</div>

<div *ngIf ="courses.length != 0" class="container" style="width: 50%; margin: auto;">
    <table mat-table [dataSource]="courseDataSource" class="mat-elevation-z8">

        <!-- Course Name Column -->
        <ng-container matColumnDef="courseName">
            <th mat-header-cell *matHeaderCellDef> Course Name </th>
            <td mat-cell *matCellDef="let element">
                <a href="#" style="text-decoration: none; color:white;">{{element.course.name}}</a>
            </td>
        </ng-container>

        <!-- Course Information -->
          <ng-container matColumnDef="customColumn">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Action </th>
            <td mat-cell *matCellDef="let element; let i = index;" style="text-align: center;">
                <button mat-raised-button color="accent" [routerLink]="['/instructor/my-course-prof/', element.course._id]">
                    <i class="material-icons">pageview</i>
                    Info
                </button>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<div *ngIf ="noCourses">
    <p style="text-align: center;">No Available Courses</p>
</div>

<mat-card *ngIf="isLoading" 
   style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner 
    color="primary" 
    mode="indeterminate">
  </mat-progress-spinner>
</mat-card>