<div class="title-group">
    <div>
        <h2 style="text-align: center;">Course Info</h2>
    </div>
    <br>
    <mat-divider fxFlex="1 0"></mat-divider>
    <br>
</div>

<div class="inner-wrapper">
    <div style="width: 50%; text-align: center; margin:auto;" class="controlers-wrapper">
        <table style="text-align:left;">
            <tr>
                <th>
                    <h3><label>Course Name:</label>&nbsp;</h3>
                </th>
                <td>
                    <p>{{course.name}}</p>
                </td>
            </tr>
            <tr>
                <th>
                    <h3><label>Course Instructors:</label>&nbsp;</h3>

                </th>
                <td>
                    <p *ngFor="let instructor of instructors">{{instructor.name}}</p>
                </td>
            </tr>
            <tr>
                <th>
                    <h3><label>Course Details:</label>&nbsp;</h3>
                </th>
                <td>
                    <p>{{course.details}}</p>
                </td>
            </tr>
            <tr>
                <th>
                    <h3><label>Course Schedule:</label>&nbsp;</h3>
                </th>
                <td>
                    <p *ngFor='let schedule of course.schedule'>{{schedule.day}}: &nbsp;&nbsp;{{schedule.start}} -
                        {{schedule.end}}</p>
                </td>
            </tr>
            <tr>
                <th>
                    <h3><label>Course Memberships:</label></h3>
                </th>
                <div  *ngIf="course.session_membership != null">
                    <td>Session,</td>
                    <td> ${{course.session_membership.cost}} per session for</td>
                    <td>{{course.session_membership.number_of_sessions}} sessions.</td>
                </div>
                <div *ngIf="course.subscription_membership != null">
                    <td>Subscription, </td>
                    <td>${{course.subscription_membership.cost}} per month.</td>
                </div>
            </tr>
        </table>
    </div>

    <div class="controlers-wrapper" style="text-align: center; margin-top:2%;">
        <div class="full-wrapper button-wrapper">
            <div class="button-wrapper">
                <button class="AdminModuleButtons" type='button' mat-flat-button color="warn"
                    (click)="openEditCourseModal()"> Edit Course </button>
                <button class="AdminModuleButtons" type='button' mat-flat-button color="warn"
                    (click)="openEditScheduleModal()"> Edit Schedule </button>
                <button class="AdminModuleButtons" type='button' mat-flat-button color="warn"
                    (click)="openEditMembershipModal()"> Edit Membership </button>
            </div>
            <div class="button-wrapper">
                <button class="AdminModuleButtons" type='button' mat-flat-button color="warn"
                    (click)="openAssignInstructorModal()"> Instructor </button>
                <button class="AdminModuleButtons" type='button' mat-flat-button color="warn"
                    [routerLink]="['/admin/enroll-student', this.course_id]"> Enroll Student </button>
                <button class="AdminModuleButtons" type='button' mat-flat-button color="warn"
                    [routerLink]="['/admin/view-students', this.course_id]"> View Students </button>
            </div>
        </div>
    </div>
</div>