<div class="title-group">
    <div>
        <h1 style="text-align: center;" class="mat-h1">Announcement Info</h1>
    </div>
    <mat-divider fxFlex="1 0"></mat-divider>
    <br>
</div>

<div style="padding-left: 10%;">
    <!-- SUBJECT -->
    <div>
        <p style="display:inline-block; margin-right: 10px;"><strong>Subject:</strong></p>
        <p style="display:inline-block;">{{announcement.subject}}</p>
    </div>

    <!-- DATE -->
    <div>
        <p style="display:inline-block; margin-right: 10px;"><strong>Date:</strong></p>
        <p style="display:inline-block;">{{announcement.date}}</p>
    </div>

    <!-- Sender -->
    <div>
        <p style="display:inline-block; margin-right: 10px;"><strong>Sender:</strong></p>
        <p style="display:inline-block;">{{announcement.user.firstname + " " + announcement.user.lastname}}</p>
    </div>
    <!-- Content -->
    <div>
        <p><strong>Content:</strong></p>
        <p style="padding-left: 5%;">{{announcement.content}}</p>
    </div>
</div>
<br>
<mat-divider fxFlex="1 0"></mat-divider>
<div style="text-align: center; margin-top: 5%;">
    <button class="AdminModuleButtons" mat-raised-button color="accent" (click)="close()"> Close </button>
</div>