<!-- Title group  -->
<div class="title-group">
    <h1 class="mat-h1">Edit Player</h1>
    <mat-divider fxFlex="1 0"></mat-divider>
  </div>

  <!-- Form -->
  <div class="inner-wrapper">
    <form [formGroup]="playerForm" (ngSubmit)="updatePlayerForm()" #resetPlayerForm="ngForm" novalidate>
      <!-- Left block -->
      <mat-card>
        <div class="controlers-wrapper">
          <!-- player -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Player name" formControlName="player">
            <mat-error *ngIf="handleError('player', 'required')">
              You must provide a <strong>player name</strong>
            </mat-error>
          </mat-form-field>

          <!-- rank -->
          <mat-form-field class="example-full-width">
              <mat-label>Rank</mat-label>
              <mat-select [(ngModel)]="selected" formControlName="rank">
                <mat-option [value]="rankArray" *ngFor="let rankArray of RankArray">
                  {{rankArray}}
                </mat-option></mat-select>
                <mat-error *ngIf="handleError('rank', 'required')">
                  You must provide a <strong>rank </strong>
                </mat-error>
            </mat-form-field>

          <!-- score -->
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Score" formControlName="score">
            <mat-error *ngIf="handleError('score', 'required')">
              You must provide a <strong>score</strong>
            </mat-error>
          </mat-form-field>

          <!-- time -->
          <mat-form-field class="example-full-width">
            <input type="number" matInput placeholder="Hours" formControlName="time">
            <mat-error *ngIf="handleError('time', 'required')">
              You must provide <strong>hours played</strong>
            </mat-error>
          </mat-form-field>

          <!-- games_played -->
           <mat-form-field class="example-full-width">
              <mat-label>Favorite Game</mat-label>
              <mat-select [(ngModel)]="selected2" formControlName="games_played">
                <mat-option [value]="g.title" *ngFor="let g of games">
                  {{g.title}}
                </mat-option></mat-select>
                <mat-error *ngIf="handleError('games_played', 'required')">
                    Game is required.
                  </mat-error>
            </mat-form-field>

          <!-- status -->
          <mat-form-field class="example-full-width">
              <mat-label>Status</mat-label>
              <mat-select [(ngModel)]="selected3" formControlName="status">
                <mat-option [value]="status" *ngFor="let status of Status">
                  {{status}}
                </mat-option></mat-select>
              <mat-error *ngIf="handleError('status', 'required')">
              You must provide a <strong>status </strong>
              </mat-error>
          </mat-form-field>
        </div>
      </mat-card>
      <!-- Submit & Reset -->
      <mat-card>
        <div class="full-wrapper button-wrapper">
          <div class="button-wrapper">
            <button mat-flat-button color="warn" [disabled]="playerForm.invalid">Update</button>
          </div>
        </div>
      </mat-card>
    </form>
    <button mat-flat-button color="warn" [routerLink]="['/admin-home']"><i class="material-icons">arrow_left</i>Cancel</button>
  </div>
