<div class="title-group">
    <div>
        <h2 style="text-align: center; width: 95%;"> Announcements </h2>
    </div>
    <br>
    <mat-divider fxFlex="1 0"></mat-divider>
</div>

<div class="container" style="width: 80%; margin: auto;">
    <div class="nav-tool-items">
        <br />
        <button mat-raised-button color="accent" routerLinkActive="active" routerLink="/admin/create-announcement">
            <i class="material-icons">add_circle</i> Create Announcement </button>
    </div>
</div>
<br />


<div class="container" style="width: 80%; margin: auto;">
    <table mat-table matSort matSortActive="date" matSortDirection="desc" matSortDisableClear [dataSource]="dataSource"
        class="mat-elevation-z8">

        <!-- Date Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
            <td mat-cell *matCellDef="let element"  (click)="viewAnnouncement(element)">{{element.date | date: 'MM/dd/yyyy'}}</td>
        </ng-container>


        <!-- Sender Column -->
        <ng-container matColumnDef="subject">
            <th mat-header-cell *matHeaderCellDef> Sender </th>
            <td mat-cell *matCellDef="let element"  (click)="viewAnnouncement(element)"> {{element.user.firstname}} </td>
        </ng-container>

        <!-- Subject Column -->
        <ng-container matColumnDef="content">
            <th mat-header-cell *matHeaderCellDef> Subject </th>
            <td mat-cell *matCellDef="let element"  (click)="viewAnnouncement(element)"> {{element.subject}} </td>
        </ng-container>

        <!-- ACTION -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Action </th>
            <td mat-cell *matCellDef="let element; let i = index;" style="text-align: center;">
                <button class="AdminModuleButtons" mat-raised-button color="warn" (click)="deleteAnnouncement(element)">
                    <i class="material-icons">delete_forever</i>
                    Delete</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 15, 20]"></mat-paginator>
</div>