.myButtons{
    min-width: 1%;
}

.hamburger{
    margin-right: 12px;
}

.dashboard{
   color:#008E8E;
    cursor: pointer;
}

/* qr top */
/* .mat-grid-tile .mat-figure {
    top: 20px !important;
  } */

