<mat-toolbar color="primary" class="header">
  <div>Dashboard</div>
  <span class="nav-tool-items">
    <button mat-button (click)="sidenav.toggle()"  matTooltip="Menu" class="hamburger"><mat-icon>menu</mat-icon></button>
    <button mat-button  matTooltip="View Account" routerLinkActive="active" routerLink="profile" class="myButtons"><mat-icon>account_circle</mat-icon></button>&nbsp;
    <button mat-button  matTooltip="Log Out" (click)="logout()"><mat-icon>exit_to_app</mat-icon></button>
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
    [fixedTopGap]>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="home">
        <mat-icon>home</mat-icon> Home
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="course-list">
        <mat-icon>reorder</mat-icon> Course List
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="my-courses">
        <mat-icon>reorder</mat-icon> My Courses
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="members">
        <mat-icon>reorder</mat-icon> Members
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="announcements">
        <mat-icon>reorder</mat-icon> Announcements
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>