<div class="title-group">
    <div style="width: 95%;">
        <h2 style="text-align: center;">Gym Courses</h2>
    </div>
    <br>
    <mat-divider fxFlex="1 0"></mat-divider>
</div>

<div  class="container" style="width: 80%; margin: auto;">
    <!-- Search filter -->
    <div style="float: right;">
        <mat-form-field fxFlex="40%" style="align-self: right;">
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
    </div>
</div>

<div [hidden]="!CourseData" class="container" style="width: 80%; margin: auto;">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Course Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Course Name </th>
            <td mat-cell *matCellDef="let element">
                <a style="text-decoration: none; color:white;">{{element.name}}</a>
            </td>
        </ng-container>

        <!-- Details Column -->
        <ng-container matColumnDef="instructors">
            <th mat-header-cell *matHeaderCellDef> Instructors </th>
            <td mat-cell *matCellDef="let element"> {{element.instructors.join(', ')}} </td>
        </ng-container>

        <!-- Members Column -->
        <ng-container matColumnDef="members">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Number of Members </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.members.length}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Action </th>
            <td mat-cell *matCellDef="let element; let i = index;" style="text-align: center;">
                <button mat-raised-button color="accent" [routerLink]="['/instructor/course-profile/', element._id]">
                    <i class="material-icons">pageview</i>
                    Info
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>

<div *ngIf ="noCourses">
    <p style="text-align: center;">You have no available courses.</p>
</div>

<div class="container" style="width: 80%; margin: auto;">
<br><br><br><br>
<mat-card *ngIf="isLoading" 
   style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner 
    color="primary" 
    mode="indeterminate">
  </mat-progress-spinner>
</mat-card>
</div>