<h1>Course Details</h1>
<p>Status: <b>{{myStatus}}</b> </p>
<p>Course Name: {{course.name}}</p>
Age Limit: {{minAge}} <div style="display: inline;" *ngIf="maxAge"> - {{maxAge}}</div>
<p>Instructors: {{myIns.join(', ')}}</p>
<p>Students: {{studCount}}/{{course.max_students}}</p>
<p>Schedule(s): </p>
<ul *ngFor="let s of sched">
  <li>
    Day: {{s.day}}
  </li>
  <li>
    Start: {{s.start}}
  </li>
  <li>
    End:{{s.end}}
  </li>
</ul>
<h1>Description</h1>
<p>{{course.details}}</p>

<h1>Cost</h1>
<p>Subscription: {{subCost | currency:'CAD'}}</p>
<p>Session: {{sessCost | currency:'CAD' }} for <b>{{numberSess}}</b> sessions</p>
<br>
<div *ngIf="parentalConsent" style="border: 2px solid teal; padding: 3em; margin-bottom: 1em;">
  <h1>Parental Consent</h1>
  <p>Please bring your parental consent letter in your first session.</p>
</div>
<button mat-button class="myEnroll" *ngIf="isHidden == true" (click)="openDialog()">Enroll</button>
<button mat-button class="myEnroll" *ngIf="isHidden == false" (click)="removeStudent()">Withdraw</button>