<div class="title-group">
    <div>
        <h1 style="text-align: center;" class="mat-h1">Member Enrollment Form</h1>
    </div>
    <br>
    <mat-divider fxFlex="1 0"></mat-divider>
    <br>
</div>

<div class="container" style="width: 80%; text-align: center;">
    <form [formGroup]="courseForm" novalidate>
        <!-- LEFT SIDE -->
        <mat-card>
            <div class="controlers-wrapper">

                <!-- Course Name -->
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Course Name" formControlName="name">
                </mat-form-field>

                <!-- Details -->
                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Details" formControlName="details"></textarea>
                </mat-form-field>

                <!-- Maximum number of members -->
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Maximum number of Students" formControlName="max_students">
                </mat-form-field>

                <!-- Membership Type -->
                <mat-form-field>
                    <mat-label>Membership Type</mat-label>
                    <mat-select [(value)]="membership_selected" formControlName="user_membership">
                        <mat-option [value]="m" *ngFor="let m of memberships">{{m.key}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="handleError('user_membership', 'required')">
                        Membership is required
                    </mat-error>
                </mat-form-field>
                
                <div style="text-align:left; margin: auto; width: 100%;" *ngIf="membership_selected != null">
                    <div>
                        Cost: ${{membership_selected.cost}}
                    </div>
                    <div *ngIf="membership_selected.key == 'Session'">
                        Number of Sessions: {{membership_selected.number_of_sessions}}
                    </div>
                </div>

                <!-- Submit & Reset -->
                <mat-card>
                    <div class="full-wrapper button-wrapper">
                        <div class="button-wrapper">
                            <button mat-flat-button color="warn" (click)="enrollMember()"> Enroll </button>&nbsp;
                            <button mat-flat-button color="accent" (click)="closeDialog()"> Cancel </button>
                        </div>
                    </div>
                </mat-card>
            </div>
        </mat-card>
    </form>
</div>