<div class="title-group">
    <div>
        <h2 style="text-align: center;">Course Schedule</h2>
    </div>
    <br>
    <mat-divider fxFlex="1 0"></mat-divider>
    <br>
</div>

<div class="container" style="text-align: center;" *ngFor="let schedule of course_schedule.controls, index as i">
    <form [formGroup]="schedule" (ngSubmit)="updateSchedule()" novalidate>
        <mat-card>
            <h3>Schedule #{{i+1}}</h3>
            <div class="controlers-wrapper">
                <!-- Schedule ID-->
                <input type="text" formControlName="id" hidden>

                <!-- Day  -->
                <mat-form-field style="width: 60%;">
                    <mat-select formControlName="day">
                        <mat-option [value]="day" *ngFor="let day of days">{{day}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="handleError('day', 'required')">
                        You must provide a<strong> Day</strong>
                    </mat-error>
                </mat-form-field>

                <!-- Start Time  -->
                <mat-form-field style="width: 60%;">
                    <mat-select formControlName="start">
                        <mat-option [value]="start_time" *ngFor="let start_time of time">{{start_time}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="handleError('start', 'required')">
                        You must provide a<strong> Start Time</strong>
                    </mat-error>
                </mat-form-field>

                <!-- End Time  -->
                <mat-form-field style="width: 60%;">
                    <mat-select formControlName="end">
                        <mat-option [value]="end_time" *ngFor="let end_time of time">{{end_time}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="handleError('end', 'required')">
                        You must provide a<strong> End Time</strong>
                    </mat-error>
                </mat-form-field>

                <!-- Submit -->
                <div class="full-wrapper button-wrapper">
                    <div class="button-wrapper">
                        <button mat-flat-button color="warn">Update</button>
                        <button type="button" mat-flat-button color="warn"
                            (click)="deleteSchedule(schedule.value.id)">Delete</button>
                    </div>
                </div>
            </div>
        </mat-card>
        <br>
        <mat-divider fxFlex="1 0"></mat-divider>
    </form>
</div>

<!-- SCHEDULE CREATION FORM -->
<div *ngIf="isTrue" style="margin-top: 5%; text-align: center;">
    <h2  class="mat-h1">Schedule Creation</h2>
    <form [formGroup]="AddScheduleForm" (ngSubmit)="addSchedule()" novalidate>
        <mat-card>
            <!-- Day -->
            <mat-form-field>
                <mat-label>Day</mat-label>
                <mat-select [(value)]="selectedDay" formControlName="day">
                    <mat-option [value]="day" *ngFor="let day of days">{{day}}</mat-option>
                </mat-select>
                <mat-error *ngIf="handleError('day', 'required')">
                    You must provide a<strong> day</strong>
                </mat-error>
            </mat-form-field>&nbsp;&nbsp;

            <!-- Start Time-->
            <mat-form-field>
                <mat-label>Start Time</mat-label>
                <mat-select [(value)]="selectedStartTime" formControlName="start">
                    <mat-option [value]="start_time" *ngFor="let start_time of time">{{start_time}}</mat-option>
                </mat-select>
                <mat-error *ngIf="handleError('start', 'required')">
                    You must provide a<strong> Start Time</strong>
                </mat-error>
            </mat-form-field>&nbsp;&nbsp;

            <!-- End Time-->
            <mat-form-field>
                <mat-label>End Time</mat-label>
                <mat-select [(value)]="selectedEndTime" formControlName="end">
                    <mat-option [value]="end_time" *ngFor="let end_time of time">{{end_time}}</mat-option>
                </mat-select>
                <mat-error *ngIf="handleError('end', 'required')">
                    You must provide a<strong> End Time</strong>
                </mat-error>
            </mat-form-field>&nbsp;&nbsp;

            <!-- Submit -->
            <div style="padding: 20px;"> 
                <button mat-flat-button color="warn"> Add </button>&nbsp;
                <button type="button" mat-flat-button color="accent" (click)="resetForm(AddScheduleForm)"> Cancel </button>
            </div>
        </mat-card>
    </form>
</div>

<!-- BUTTON TO ADD SCHEDULE AND CLOSE MODAL-->
<div *ngIf="!isTrue" class="container" style="text-align: center; margin-top: 5%;">
    <button mat-flat-button color="warn" (click)="isTrue = !isTrue">Add Schedule</button>&nbsp;
    <button mat-flat-button color="accent" (click)="closeDialog()">Cancel</button>
</div>