<div class="title-group">
    <div *ngIf="!isTrue">
        <h2 style="text-align: center;">Course Schedule</h2>
    </div>
    <div *ngIf="isTrue">
        <h2 style="text-align: center;">Schedule Creation</h2>
    </div>
    <mat-divider fxFlex="1 0"></mat-divider>
    <br>
</div>

<div *ngIf="!isTrue">
    <div class="container" style="text-align: center;" *ngFor="let schedule of course_schedule.controls, index as i">
        <form [formGroup]="schedule" (ngSubmit)="updateSchedule()" novalidate>
            <mat-card>
                <h3>Schedule #{{i+1}}</h3>
                <div class="controlers-wrapper">
                    <!-- Schedule ID-->
                    <input type="text" formControlName="id" hidden>

                    <!-- Day  -->
                    <mat-form-field style="width: 60%;">
                        <mat-select formControlName="day">
                            <mat-option [value]="day" *ngFor="let day of days">{{day}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="handleError('day', 'required')">
                            You must provide a<strong> Day</strong>
                        </mat-error>
                    </mat-form-field>

                    <!-- Start Time  -->
                    <mat-form-field style="width: 60%;">
                        <mat-select formControlName="start">
                            <mat-option [value]="start_time" *ngFor="let start_time of time">{{start_time}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="handleError('start', 'required')">
                            You must provide a<strong> Start Time</strong>
                        </mat-error>
                    </mat-form-field>

                    <!-- End Time  -->
                    <mat-form-field style="width: 60%;">
                        <mat-select formControlName="end">
                            <mat-option [value]="end_time" *ngFor="let end_time of time">{{end_time}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="handleError('end', 'required')">
                            You must provide a<strong> End Time</strong>
                        </mat-error>
                    </mat-form-field>

                    <!-- Submit -->
                    <div class="full-wrapper button-wrapper">
                        <div class="button-wrapper">
                            <button mat-flat-button color="warn">
                                <i class="material-icons">
                                    update
                                </i> Update </button>
                            <button type="button" mat-flat-button color="accent"
                                (click)="deleteSchedule(schedule.value.id)">
                                <i class="material-icons">delete_forever</i> Delete </button>
                        </div>
                    </div>
                </div>
            </mat-card>
            <br>
            <mat-divider fxFlex="1 0"></mat-divider>
        </form>
    </div>
</div>

<!-- SCHEDULE CREATION FORM -->
<div *ngIf="isTrue" style="text-align: center;">
    <form [formGroup]="AddScheduleForm" (ngSubmit)="addSchedule()" novalidate>
        <mat-card>
            <!-- Day -->
            <mat-form-field>
                <mat-label>Day</mat-label>
                <mat-select [(value)]="selectedDay" formControlName="day">
                    <mat-option [value]="day" *ngFor="let day of days">{{day}}</mat-option>
                </mat-select>
                <mat-error *ngIf="handleError('day', 'required')">
                    You must provide a<strong> day</strong>
                </mat-error>
            </mat-form-field>&nbsp;&nbsp;
            <br>
            <!-- Start Time-->
            <mat-form-field>
                <mat-label>Start Time</mat-label>
                <mat-select [(value)]="selectedStartTime" formControlName="start">
                    <mat-option [value]="start_time" *ngFor="let start_time of time">{{start_time}}</mat-option>
                </mat-select>
                <mat-error *ngIf="handleError('start', 'required')">
                    You must provide a<strong> Start Time</strong>
                </mat-error>
            </mat-form-field>&nbsp;&nbsp;
            <br>

            <!-- End Time-->
            <mat-form-field>
                <mat-label>End Time</mat-label>
                <mat-select [(value)]="selectedEndTime" formControlName="end">
                    <mat-option [value]="end_time" *ngFor="let end_time of time">{{end_time}}</mat-option>
                </mat-select>
                <mat-error *ngIf="handleError('end', 'required')">
                    You must provide a<strong> End Time</strong>
                </mat-error>
            </mat-form-field>&nbsp;&nbsp;
            <br>
            <br>
            <div *ngIf="err" style="color: rgb(255, 39, 10);">Start Time must be Less Than End Time!</div>
            <br>
            <!-- Submit -->
            <div style="padding: 20px;">
                <button mat-flat-button color="warn" class="AdminModuleButtons"> Add </button>&nbsp;
                <button type="button" mat-flat-button color="accent" (click)="resetForm(AddScheduleForm)" class="AdminModuleButtons"> Cancel </button>
            </div>
        </mat-card>
    </form>
</div>

<!-- BUTTON TO ADD SCHEDULE AND CLOSE MODAL-->
<div *ngIf="!isTrue" class="container" style="text-align: center; margin-top: 5%;">
    <button class="AdminModuleButtons" mat-flat-button color="warn" (click)="isTrue = !isTrue">
        Add Schedule</button>&nbsp;
    <button class="AdminModuleButtons" mat-flat-button color="accent" (click)="closeDialog()">Cancel</button>
</div>