<div class="title-group">
    <div>
        <h2 style="text-align: center;">Edit Course Membership</h2>
    </div>
    <br>
    <mat-divider fxFlex="1 0"></mat-divider>
</div>

<!-- SESSION MEMBERSHIP FORM -->
<div class="container" style="text-align: center;">
    <h3>Session Membership</h3>
    <br>
    <!-- FORM FIELD FOR ADDING SESSION MEMBERSHIP -->
    <div *ngIf="session_membership == null">
        <button *ngIf="!addSession" class="AdminModuleButtons" mat-flat-button color="primary"
            (click)="addSessionMembership()"> Add Membership </button>
        <form *ngIf="addSession" [formGroup]="session_membership_form" (ngSubmit)="createSessionMembership()"
            novalidate>
            <div class="controlers-wrapper">
                <!-- SESSION MEMBERSHIP COST-->
                <mat-form-field class="example-full-width" style="width: 51%;">
                    <mat-label>Session Membership Cost</mat-label>
                    <input type="number" matInput formControlName="cost">
                    <mat-error *ngIf="handleSession('cost', 'required')">
                        You must provide a session cost
                    </mat-error>
                </mat-form-field>

                <!-- NUMBER OF SESSIONS -->
                <mat-form-field class="example-full-width" style="width: 51%;">
                    <mat-label>Number of Sessions</mat-label>
                    <input type="number" matInput formControlName="number_of_sessions">
                    <mat-error *ngIf="handleSession('number_of_sessions', 'required')">
                        You must provide a number of Sessions
                    </mat-error>
                </mat-form-field>

                <!-- BUTTONS -->
                <div class="container" style="text-align: center; margin-top: auto;">
                    <button class="AdminModuleButtons" mat-flat-button color="warn"> Add </button>&nbsp;
                    <button class="AdminModuleButtons" mat-flat-button color="accent"
                        (click)="addSession = !addSession"> Cancel </button>
                </div>
            </div>
        </form>
    </div>

    <!-- FORM FIELD IF SESSION MEMBERSHIP EXISTS -->
    <form *ngIf="session_membership != null" [formGroup]="session_membership_form"
        (ngSubmit)="updateSessionMembership()" novalidate>
        <div class="controlers-wrapper">
            <!-- SESSION MEMBERSHIP COST-->
            <mat-form-field class="example-full-width" style="width: 51%;">
                <mat-label>Session Membership Cost</mat-label>
                <input type="number" matInput formControlName="cost">
                <mat-error *ngIf="handleSession('cost', 'required')">
                    You must provide a session cost
                </mat-error>
            </mat-form-field>

            <!-- NUMBER OF SESSIONS -->
            <mat-form-field class="example-full-width" style="width: 51%;">
                <mat-label>Number of Sessions</mat-label>
                <input type="number" matInput formControlName="number_of_sessions">
                <mat-error *ngIf="handleSession('number_of_sessions', 'required')">
                    You must provide a number of Sessions
                </mat-error>
            </mat-form-field>

            <!-- BUTTONS -->
            <div *ngIf="!editSession" class="container" style="text-align: center; margin-top: auto;">
                <button class="AdminModuleButtons" mat-flat-button color="warn" (click)="changeSessionFormStatus()">
                    Edit </button>&nbsp;
                <button *ngIf="subscription_membership != null" class="AdminModuleButtons" mat-flat-button color="accent" (click)="removeSessionMembership()">
                    Remove </button>
            </div>
            <div *ngIf="editSession" class="container" style="text-align: center; margin-top: auto;">
                <button mat-flat-button color="warn"> Update </button>&nbsp;
                <button mat-flat-button color="accent" (click)="changeSessionFormStatus()"> Cancel </button>
            </div>
        </div>
    </form>
    <br>
    <br>
    <mat-divider fxFlex="1 0"></mat-divider>
    <br>
</div>

<!-- SUBSCRIPTION MEMBERHSIP FORM -->
<div class="container" style="text-align: center;">
    <h3>Subscription Membership</h3>
    <br>
    <!-- FORMFIELD FOR SUBSCRIPTION MEMBERSHIP CREATION -->
    <div *ngIf="subscription_membership == null">
        <button *ngIf="!addSubscription" class="AdminModuleButtons" mat-flat-button color="warn"
            (click)="addSubscriptionMembership()"> Add Membership</button>
        <form *ngIf="addSubscription" [formGroup]="subscription_membership_form"
            (ngSubmit)="createSubscriptionMembership()" novalidate>
            <div class="controlers-wrapper">
                <!-- SUBSCRIPTION MEMBERSHIP COST-->
                <mat-form-field class="example-full-width" style="width: 51%;">
                    <mat-label>Subscription Membership Cost</mat-label>
                    <input type="number" matInput formControlName="cost">
                    <mat-error *ngIf="handleSubscription('cost', 'required')">
                        You must provide a subscription cost
                    </mat-error>
                </mat-form-field>

                <!-- BUTTONS -->
                <div *ngIf="!editSubscription" class="container" style="text-align: center; margin-top: auto;">
                    <button class="AdminModuleButtons" mat-flat-button color="warn"> Add </button>&nbsp;
                    <button class="AdminModuleButtons" mat-flat-button color="warn"
                        (click)="addSubscription = !addSubscription"> Cancel </button>
                </div>
            </div>
        </form>
    </div>

    <!-- FORMFIELD IF SUBSCRIPTION MEMBERSHIP EXIST -->
    <form *ngIf="subscription_membership != null" [formGroup]="subscription_membership_form"
        (ngSubmit)="updateSubscriptionMembership()" novalidate>
        <div class="controlers-wrapper">
            <!-- SUBSCRIPTION MEMBERSHIP COST-->
            <mat-form-field class="example-full-width" style="width: 51%;">
                <mat-label>Subscription Membership Cost</mat-label>
                <input matInput formControlName="cost">
                <mat-error *ngIf="handleSubscription('cost', 'required')">
                    You must provide a subscription cost
                </mat-error>
            </mat-form-field>

            <!-- BUTTONS -->
            <div *ngIf="!editSubscription" class="container" style="text-align: center; margin-top: auto;">
                <button class="AdminModuleButtons" mat-flat-button color="warn"
                    (click)="changeSubscriptionFormStatus()"> Edit </button>&nbsp;
                <button *ngIf="session_membership!=null" class="AdminModuleButtons" mat-flat-button color="accent"
                    (click)="removeSubscriptionMembership()"> Remove </button>
            </div>
            <div *ngIf="editSubscription" class="container" style="text-align: center; margin-top: auto;">
                <button mat-flat-button color="warn"> Update </button>&nbsp;
                <button mat-flat-button color="accent" (click)="changeSubscriptionFormStatus()"> Cancel </button>
            </div>
        </div>
    </form>
    <br>
    <br>
    <mat-divider fxFlex="1 0"></mat-divider>
</div>
<div class="container" style="text-align: center; margin-top: 5%;">
    <button class="AdminModuleButtons" mat-flat-button color="accent" (click)="closeModal()"> Close </button>
</div>