<span class="nav-tool-items" style="float: right;">
    <button mat-raised-button color="accent" (click)="back()"> Back </button>&nbsp;
</span>
<h1>Course Information </h1>
<!-- <div class="inner-wrapper"> -->
<mat-grid-list [cols]="columns" rowHeight="4:4">
    <!-- left -->
    <mat-grid-tile>
        <mat-card class="myCard">
            <!-----------------------------------Course Info--------------------------------------  -->
            <div style="width: 100%; text-align: center; margin:auto;" class="controlers-wrapper">
                <table style="text-align:left;">
                    <tr>
                        <th>
                            <h3><label>Course Name:</label>&nbsp;</h3>
                        </th>
                        <td>
                            <p>{{course.name}}</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <h3><label>Course Instructors:</label>&nbsp;</h3>
        
                        </th>
                        <td>
                            <p *ngFor="let instructor of instructors">{{instructor.name}}</p>
                        </td>
                    </tr>
                    
                    <tr>
                        <th>
                            <h3><label>Course Details:</label>&nbsp;</h3>
                        </th>
                        <td>
                            <p>{{course.details}}</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <h3><label>Course Schedule:</label>&nbsp;</h3>
                        </th>
                        <td>
                            <p *ngFor='let schedule of course.schedule'>{{schedule.day}}: &nbsp;&nbsp;{{schedule.start}} - {{schedule.end}}</p>
                        </td>
                    </tr>

                    <!-- Max Students -->
                    <tr>
                        <th><label>Max Students:</label>&nbsp;</th>
                        <td><p>{{course.max_students}}</p></td>
                    </tr>

                    <tr>
                        <th><label>Age limit:</label>&nbsp;</th>

                        <div *ngIf="course.min_age && course.max_age">
                        <td><p>{{course.min_age}} to {{course.max_age}} yrs old</p></td>
                        </div>
                        <div *ngIf="course.min_age && !course.max_age">
                            <td><p>{{course.min_age}} yrs old</p></td>
                            </div>
                        <div *ngIf="!course.min_age && !course.max_age">
                            <td><p>For all ages.</p></td>
                        </div>
                    </tr>
                    <tr>
                        <th><label>Slots open:</label>&nbsp;</th>
                        <td><p>{{ slots_open }} slots</p></td>
                    </tr>

                    <!-- Enrolled Students -->
                    <tr>
                        <th><label>Enrolled Students:</label>&nbsp;</th>

                        <td><p>{{number_of_students}}</p></td>
                    </tr>
                </table>
                <div style="text-align:left">
                <div *ngIf= "course.parental_consent">
                    <p><strong>Requirement:</strong>&nbsp;Parental consent is required for this Course.</p>
                </div>
                <p><strong>Memberships:</strong></p>
                <!-- Session Membership -->
                <div *ngIf="session_membership != null" style="padding-left: 5%;">
                    <p>Session Membership</p>
                    <div style="padding-left: 10%;">
                        <p>- Cost: ${{session_membership.cost}}</p>
                        <p>- Number of Sessions: {{session_membership.number_of_sessions}}</p>
                    </div>
                </div>
                <!-- Subscription Membership-->
                <div *ngIf="subscription_membership != null" style="padding-left: 5%;">
                    <p>Subscription Membership: &nbsp; Cost: ${{subscription_membership.cost}}</p>
                </div>
            </div>
                
            </div>
        <!-- --------------------------------------------------------------------------------- -->
        </mat-card>

    </mat-grid-tile>
    <!-- right -->
    <mat-grid-tile>
        <mat-card>
            <h3>Instructor Activities:</h3>
            <!-- ---------------------------------------------------------------------------- -->
            <div class="controlers-wrapper" style="text-align: center; margin-top:2%;">
                <div class="full-wrapper button-wrapper">
                 
                    <div class="button-wrapper">
                        <button class="AdminModuleButtons" type='button' mat-flat-button color="warn"
                            [routerLink]="['/instructor/enroll-student', this.course_id]"> Enroll Student </button>
                    </div>
                    <br>
                    <div>
                        <button class="AdminModuleButtons" type='button' mat-flat-button color="warn"
                        [routerLink]="['/instructor/view-students', this.course_id]"> Remove Student </button>
                    </div>
                </div>
            </div>
            <!-- ----------------------------------------------------------------------------- -->
        </mat-card>

    </mat-grid-tile>
</mat-grid-list>

<div class="footer">
    <p>Teambits &copy; 2019-2020</p>
  </div>


   

   
<!-- </div> -->