<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
  <div>Hogwarts Gamer Lobby</div>
  <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
    [fixedTopGap]>
    <mat-nav-list>
     
      <a mat-list-item routerLinkActive="active" routerLink="/players-list">
        <mat-icon>videogame_asset</mat-icon> Gaming Lobby
      </a>

      <a mat-list-item routerLinkActive="active" routerLink="/admin-home">
        <mat-icon>face</mat-icon> Admin Home
      </a>
    
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
