<div class="title-group">
  <div>
    <h1 style="text-align: center;" class="mat-h1">Create Course</h1>
  </div>
  <br>
  <mat-divider fxFlex="1 0"></mat-divider>
  <br>
</div>

<div class="inner-wrapper">
  <form [formGroup]="courseForm" (ngSubmit)="submitCourseForm()" novalidate>
    <!-- LEFT SIDE -->
    <mat-card>
      <div class="controlers-wrapper">
        <!-- Course Name -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Course Name" formControlName="name">
          <mat-error *ngIf="handleError('name', 'required')">
            You must provide a<strong> course name</strong>
          </mat-error>
        </mat-form-field>

        <!-- Course Detail -->
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Course Detail" formControlName="details"></textarea>
          <mat-error *ngIf="handleError('details', 'required')">
            You must provide a<strong> course detail</strong>
          </mat-error>
        </mat-form-field>

        <!-- Minimum Age -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Minimum Age" type="number" min="7" max="80" formControlName="min_age"
            onkeypress="return false;">
        </mat-form-field>

        <!-- Maximum Age -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Maximum Age" type="number" min="7" max="80" formControlName="max_age"
            onkeypress="return false;">
        </mat-form-field>

        <!-- Max Students -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Maximum No. of Students" formControlName="max_students">
          <mat-error *ngIf="handleError('max_students', 'required')">
            You must provide<strong> maximum number of students</strong>
          </mat-error>
        </mat-form-field>
        <br>

        <!-- Choosing a Membership -->
        <mat-label>Choose a membership:</mat-label>
        <br><br>
        <div class="container">
          <div *ngFor="let item of data; let i = index;">
            <mat-checkbox [checked]="item.checked" (change)="onChange($event, i, item)">
              {{item.label}}
            </mat-checkbox>
            <div *ngIf="item.label === 'Subscription' && item.checked === true">
              <table cellspacing="0">
                <tr>
                  <td>

                    <mat-form-field style="width: 30%; text-align: center;">
                      <mat-label>Monthly Subscription Cost</mat-label>
                      <input matInput [(ngModel)]="subCost" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                  </td>
                </tr>
              </table>
            </div>
            <div *ngIf="item.label === 'Session-based' && item.checked === true">
              <table class="example-full-width" cellspacing="0">
                <tr>
                  <td>
                    <mat-form-field>
                      <input matInput placeholder="Session set cost" [(ngModel)]="sesCost"
                        [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field>
                      <input matInput placeholder="No. of Sessions" [(ngModel)]="numSessions"
                        [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <br>
        </div>
      </div>
    </mat-card>

    <!-- RIGHT SIDE -->
    <mat-card>
      <br>

      <!-- Parent's Consent -->
      <mat-checkbox formControlName="parental_consent" [(NgModel)]="check">Needs Parental Consent</mat-checkbox>
      <br><br><br>

      <!-- Schedule -->
      <mat-form-field class="example-full-width">
        <mat-label>Course Schedule:</mat-label>
        <mat-select [(ngModel)]="totalDays" [ngModelOptions]="{standalone: true}" (ngModelChange)="createDays()">
          <mat-option [value]="u" *ngFor="let u of numDays">
            {{u}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="totalDays > 0">
        <div *ngFor="let i of schedule; let item = index">
          <mat-form-field style="margin-right: 2%;">
            <mat-label>Day</mat-label>
            <mat-select [(ngModel)]="schedule[item].day" [ngModelOptions]="{standalone: true}">
              <mat-option [value]="d" *ngFor="let d of Days">
                {{d}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- START TIME -->
          <mat-form-field style="margin-right: 2%;">
            <mat-label>Start Time</mat-label>
            <mat-select type="time" [(ngModel)]="schedule[item].start" [ngModelOptions]="{standalone: true}">
              <mat-option [value]="s" *ngFor="let s of time">
                {{s}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- END TIME -->
          <mat-form-field>
            <mat-label>End Time</mat-label>
            <mat-select [(ngModel)]="schedule[item].end" [ngModelOptions]="{standalone: true}">
              <mat-option [value]="e" *ngFor="let e of time">
                {{e}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card>

    <!-- Submit & Reset -->
    <br><br>
    <div style="text-align: center; margin-top: auto;">

      <mat-card>
        <div class="full-wrapper button-wrapper">
          <div class="button-wrapper">
            <button mat-flat-button color="warn">Create Course</button>
          </div>
        </div>
      </mat-card>
    </div>

  </form>
</div>