<div class="title-group">
    <div>
        <h2 style="text-align: center;">Members Enrolled</h2>
    </div>
    <br>
    <mat-divider fxFlex="1 0"></mat-divider>
    <br>
</div>

<div  class="container" style="width: 80%; margin: auto;">
    <!-- Search filter -->
    <div style="float: right;">
        <mat-form-field fxFlex="40%" style="align-self: right;">
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
    </div>
</div>

<div class="container" style="width: 80%; margin: auto;">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Member ID Column -->
        <ng-container matColumnDef="_id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element">{{element._id}}</td>
        </ng-container>

        <!-- Member Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Member Name </th>
            <td mat-cell *matCellDef="let element"> {{element.firstname + " " + element.lastname}} </td>
        </ng-container>

        <!-- ACTION -->
        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Action </th>
            <td mat-cell *matCellDef="let element; let i = index;" style="text-align: center;">
                <!-- Remove Student -->
                <button class="AdminModuleButtons" mat-raised-button color="warn"
                    (click)="removeStudent(element._id)"> 
                    <i class="material-icons"> remove_circle_outline </i> Remove </button>&nbsp;
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 15, 20]"></mat-paginator>

    <div style="text-align: center; margin-top: 3%;">
        <button class="AdminModuleButtons" mat-raised-button color="accent" (click)="cancel()"> Back </button>&nbsp;
    </div>
</div>