<div class="title-group">
    <div>
        <h2 style="width:95%; text-align: center;">Add Member</h2>
    </div>
    <br>
</div>
<mat-divider fxFlex="1 0"></mat-divider>

<div class="inner-wrapper" style="text-align: center;">
    <form [formGroup]="memberForm" (ngSubmit)="submitMemberForm()" novalidate>
        <mat-card>
            <div class="controlers-wrapper">
                <!-- First Name -->
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="First Name" formControlName="firstname">
                    <mat-error *ngIf="handleError('firstname', 'required')">
                        You must provide a<strong> First Name</strong>
                    </mat-error>
                </mat-form-field>

                <!-- Last Name -->
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Last Name" formControlName="lastname">
                    <mat-error *ngIf="handleError('lastname', 'required')">
                        You must provide a<strong> Last Name</strong>
                    </mat-error>
                </mat-form-field>

                <!-- Date of Birth-->
                <mat-form-field class="example-full-width">
                    <input type="date" matInput placeholder="Date of Birth" formControlName="birthdate">
                    <mat-error *ngIf="handleError('birthdate', 'required')">
                        You must provide a<strong> date of birth</strong>
                    </mat-error>
                </mat-form-field>

                <!-- Email Address -->
                <mat-form-field class="example-full-width">
                    <input type="email" matInput placeholder="Email Address" formControlName="email">
                    <mat-error *ngIf="handleError('email', 'required')">
                        You must provide an<strong> Email Address</strong>
                    </mat-error>
                </mat-form-field>

                <!-- Submit & Reset -->
                <div class="full-wrapper button-wrapper">
                    <div>
                        <button class="AdminModuleButtons" mat-flat-button color="warn"> Add </button>
                        <button class="AdminModuleButtons" mat-flat-button color="accent" (click)="backPressed()"> Back </button>
                    </div>
                </div>
            </div>
        </mat-card>
    </form>
</div>