<mat-toolbar color="primary" class="header">
    <div>Dashboard</div>
    <span class="nav-tool-items">
      <button mat-button class="hamburger"  (click)="sidenav.toggle()"  matTooltip="Menu"><mat-icon>menu</mat-icon></button>
      <button mat-button  matTooltip="View Account" routerLink="profile"><mat-icon>account_circle</mat-icon></button>
      <button mat-button  matTooltip="Log Out" (click)="logout()"><mat-icon>exit_to_app</mat-icon></button>

     
      <!--  <button [fxHide.xs]="true">Log Out</button> -->

    </span>
  </mat-toolbar>
  
  <mat-sidenav-container>
    <!-- Sidenav -->
    <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
      [fixedTopGap]>
      <mat-nav-list>
        <a mat-list-item routerLinkActive="active" routerLink="home">
          <mat-icon>home</mat-icon> Home
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="courses">
          <mat-icon>reorder</mat-icon> Courses
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="sessions">
          <mat-icon>reorder</mat-icon> Sessions
        </a>
      </mat-nav-list>
    </mat-sidenav>
  
    <!-- Main content -->
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>