<h2>Change Password</h2>
<p *ngIf="error" class="errorMsg">Incorrect password!</p>
<form [formGroup]="userPasswordChange" #resetUserForm="ngForm" novalidate>
    <!-- Left block -->
    <mat-card>
      <div class="controlers-wrapper">

          <!-- New Password -->
      <mat-form-field class="inputs">
        <input type="password" matInput placeholder="Current Password" formControlName="currPassword">
          <mat-error *ngIf="handleError('currPassword', 'required')">
          You must provide <strong>current password</strong>
          </mat-error>
      </mat-form-field>


        
      <!-- New Password -->
      <mat-form-field class="inputs">
        <input type="password" matInput placeholder="New Password" formControlName="password">
          <mat-error *ngIf="handleError('password', 'required')">
          You must provide <strong>password</strong>
          </mat-error>
      </mat-form-field>

       <!-- New Confirm Password -->
       <mat-form-field class="inputs">
        <input type="password" matInput placeholder="Confirm New Password" formControlName="confirmPassword">
        <mat-error *ngIf="userPasswordChange.controls['confirmPassword'].pristine || userPasswordChange.controls['confirmPassword'].errors?.MatchPassword">Password does not match</mat-error>
      </mat-form-field>
      </div>
    </mat-card>      

    
    <!-- Submit & Reset -->
    <mat-card>
      <div class="full-wrapper button-wrapper">
        <div class="button-wrapper">
          <button mat-flat-button color="warn" [disabled]="userPasswordChange.invalid" (click)="updateUserPassword()">Update</button>
          <button mat-button class="myButton" (click)="onNoClick()" class="myButton1">Cancel</button>
        </div>
      </div>
    </mat-card>
  </form>