<h1>Profile Information </h1>

<mat-grid-list [cols]="columns" rowHeight="5:3">
    
    <mat-grid-tile >
        <mat-card class="myCardQR">
            <ngx-qrcode 
            [qrc-value] = "value"
            qrc-class = "aclass"
            qrc-errorCorrectionLevel = "L"
            [qrc-version] = "myNumberQRVersion">
            </ngx-qrcode>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
    <mat-card class="myCard">

        <form [formGroup]="userForm" (ngSubmit)="updateUserForm()" #resetUserForm="ngForm" novalidate>
          <p *ngIf="error" class="errorMsg" style="color: red;"><b>Default password detected. <br>Please change your password.</b></p>

            <!-- Left block -->
            <mat-card>
              <div class="controlers-wrapper">
                <!-- Member First Name -->
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="First Name" formControlName="firstname">
                  <mat-error *ngIf="handleError('firstname', 'required')">
                    You must provide a <strong>first name</strong>
                  </mat-error>
                </mat-form-field>
      
                <!-- Member Last Name -->
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Last Name" formControlName="lastname">
                    <mat-error *ngIf="handleError('lastname', 'required')">
                      You must provide a <strong>last name</strong>
                    </mat-error>
                  </mat-form-field>

                <!-- Email -->
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Email" formControlName="email">
                  <mat-error *ngIf="handleError('email', 'required')">
                    You must provide a <strong>email</strong>
                  </mat-error>
                </mat-form-field>

                  <!-- Birthdate -->
                  <mat-form-field class="example-full-width">
                    <input matInput [max]="maxDate" [matDatepicker]="picker" placeholder="Birthdate" formControlName="birthdate">
                    <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="handleError('birthdate', 'required')">
                        You must provide a <strong>birthdate </strong>
                    </mat-error>
                  </mat-form-field>

              </div>
            </mat-card>      
      
            
            <!-- Submit & Reset -->
            <mat-card>
              <div class="full-wrapper button-wrapper">
                <div class="button-wrapper">
                  <button mat-flat-button color="warn" *ngIf="isHidden == false" [disabled]="userForm.invalid">Update</button>
                  <button mat-button class="myButton" *ngIf="isHidden == false" (click)="myDisable()" class="myButton1">Cancel</button>
                </div>
              </div>
            </mat-card>
          </form>


        <div>
            <button mat-button class="myButton" *ngIf="isHidden == true" (click) = "myEnable()" >Edit</button>
        </div>
    <mat-card>
      <mat-icon>lock</mat-icon> <label class="clickable" (click)="openDialog()" >Change Password</label>
      <br>
      <br>
      <br>
      <br>
    </mat-card>



    </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<div class="footer">
    <p>Teambits &copy; 2019-2020</p>
  </div>
