<body>
<!-- Title group  -->

<h1 class="login">Registration</h1>

<p *ngIf="error" class="errorMsg">Email already exists, try again!</p>

<div class="myDiv">

  <!-- Form -->
    <form [formGroup]="memberRegForm" (ngSubmit)="submitMemberRegForm()" #resetMemberRefForm="ngForm">
      <!-- Left block -->
      <mat-card>
          <!-- Firstname -->
          <mat-form-field class="inputs" appearance="fill">
            <input matInput placeholder="John" formControlName="firstname">
            <mat-label>First Name</mat-label>
            <mat-error *ngIf="handleError('firstname', 'required')">
              You must provide a <strong>First name</strong>
            </mat-error>
          </mat-form-field>

           <!-- Lastname -->
           <mat-form-field class="inputs" appearance="fill">
            <input matInput placeholder="Doe" formControlName="lastname">
            <mat-label>Last Name</mat-label>
            <mat-error *ngIf="handleError('lastname', 'required')">
              You must provide a <strong>Last name</strong>
            </mat-error>
          </mat-form-field>


        <!-- Birthdate -->
        <mat-form-field class="inputs" appearance="fill">
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" placeholder="Choose a date" formControlName="birthdate">
          <mat-label>Birth Date</mat-label>
                <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="handleError('birthdate', 'required')">
                    You must provide a <strong>birthdate </strong>
                </mat-error>
            </mat-form-field>

         <!-- Email -->
         <mat-form-field class="inputs" appearance="fill">
          <input type="email" matInput placeholder="example@email.com" formControlName="email">
          <mat-label>Email</mat-label>
          <mat-error *ngIf="handleError('email', 'email')">
              Please enter a valid email address
            </mat-error>
                <mat-error *ngIf="handleError('email', 'required')">
                You must provide <strong>email</strong>
                </mat-error>
            </mat-form-field>


         <!-- Password -->
         <mat-form-field class="inputs" appearance="fill">
          <input type="password" matInput placeholder="******" formControlName="password">
          <mat-label>Password</mat-label>
            <mat-error *ngIf="handleError('password', 'required')">
            You must provide <strong>password</strong>
            </mat-error>
        </mat-form-field>

         <!-- Confirm Password -->
         <mat-form-field class="inputs" appearance="fill">
          <input type="password" matInput placeholder="******" formControlName="confirmPassword">
          <mat-label>Confirm Password</mat-label>
          <mat-error *ngIf="memberRegForm.controls['confirmPassword'].pristine || memberRegForm.controls['confirmPassword'].errors?.MatchPassword">Password does not match</mat-error>
        </mat-form-field>

         <!-- Role -->
         <mat-form-field class="inputsHidden" appearance="fill" >
          <input  matInput formControlName="role" value="member">
          <mat-error *ngIf="handleError('role', 'required')">
                You must provide a <strong>role </strong>
              </mat-error>
            </mat-form-field>

         
      
      <!-- Submit & Reset -->
      <mat-card>
          <button mat-raised-button color="accent" class="mySubmit" [disabled]="memberRegForm.invalid">Submit</button>     
      </mat-card>
      <mat-card>
      <button mat-raised-button color="accent" class="mySubmit2" [routerLink]="['/login']">Back</button>
      <p style="text-align: center;">
        * By signing up you agree to our <a (click)="openDialog()" style="color: #008E8E; cursor: pointer;">Terms of Use</a>, receive updates and acknowledge that you read our <a a (click)="openDialog1()" style="color: #008E8E; cursor: pointer;">Privacy Policy</a>
      </p>
      </mat-card>
  </mat-card>
    </form>

  </div>

</body>
