html, body{
    background-color: #363537 ;
    padding: 1px;
    height: 100%;
    margin: 0;
}
.errorMsg{
    color: #F6F6F6;
    text-align: center;
}
.login{
    color: #008E8E;
    text-align: center;
}
.inputs{
    width: 100%;
    display: block;
    color: white;
    margin : 0 auto;
    position: relative;
}

.myDiv{
    max-width: 600px;
    width: 70%;
    background: #232323;
    border:2px solid #008E8E;   
    color: white;
    border-radius: 1em;
    padding: 2em;  
    margin-left: auto;
    margin-right: auto;  
    margin-top: 30px;
    margin-bottom: 30px;  
    box-shadow: 0px 15px 15px #232323;

}

.myWrapper{
            padding-top: 20px;
            margin : 0 auto;
            position:  absolute;
            top : 55%;
            left: 50%;
            width: 700px;
            height:600px;
            border-bottom:5px solid #008E8E;
            border-left:5px solid #008E8E;
            border-right:5px solid #008E8E;

            transform: translate(-50%, -50%);
}
.mySubmit{
    width: 100%;
    display: block;
    color: #232323 ;
    margin : 0 auto;
    position: relative;
    background-color: #F6F6F6;

}

.mySubmit2{
    width: 100%;
    display: block;
    margin : 0 auto;
    position: relative;
    margin-top: 15px;
    background-color: #F6F6F6;
    color: #232323 ;

}
.inputsHidden{
    width: 600px;
    display: none;
    color: white;
    margin : 0 auto;
    position: relative;
}













