<body>
<!-- Title group  -->

<h1 class="login">Registration</h1>
<p *ngIf="error" class="errorMsg">Email already exists, try again!</p>

  <!-- Form -->
    <form [formGroup]="memberRegForm" (ngSubmit)="submitMemberRegForm()" #resetMemberRefForm="ngForm">
      <!-- Left block -->
      <mat-card>
        <div class="myWrapper">
          <!-- Firstname -->
          <mat-form-field class="inputs" appearance="fill">
            <input matInput placeholder="First Name" formControlName="firstname">
            <mat-error *ngIf="handleError('firstname', 'required')">
              You must provide a <strong>First name</strong>
            </mat-error>
          </mat-form-field>

           <!-- Lastname -->
           <mat-form-field class="inputs" appearance="fill">
            <input matInput placeholder="Last Name" formControlName="lastname">
            <mat-error *ngIf="handleError('lastname', 'required')">
              You must provide a <strong>Last name</strong>
            </mat-error>
          </mat-form-field>


        <!-- Birthdate -->
        <mat-form-field class="inputs" appearance="fill">
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" placeholder="Birthdate" formControlName="birthdate">
                <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="handleError('birthdate', 'required')">
                    You must provide a <strong>birthdate </strong>
                </mat-error>
            </mat-form-field>

         <!-- Email -->
         <mat-form-field class="inputs" appearance="fill">
          <input type="email" matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="handleError('email', 'email')">
              Please enter a valid email address
            </mat-error>
                <mat-error *ngIf="handleError('email', 'required')">
                You must provide <strong>email</strong>
                </mat-error>
            </mat-form-field>


         <!-- Password -->
         <mat-form-field class="inputs" appearance="fill">
          <input type="password" matInput placeholder="Password" formControlName="password">
            <mat-error *ngIf="handleError('password', 'required')">
            You must provide <strong>password</strong>
            </mat-error>
        </mat-form-field>

         <!-- Role -->
         <mat-form-field class="inputs" appearance="fill">
          <mat-label style="color: black;">Role</mat-label>
            <mat-select [(ngModel)]="selected" formControlName="role">
              <mat-option [value]="roles" *ngFor="let roles of Roles">
                {{roles}}
              </mat-option></mat-select>
              <mat-error *ngIf="handleError('role', 'required')">
                You must provide a <strong>role </strong>
              </mat-error>
            </mat-form-field>

         
      
      <!-- Submit & Reset -->
      <mat-card>
          <button mat-raised-button color="accent" class="mySubmit" [disabled]="memberRegForm.invalid">Submit</button>     
      </mat-card>
      <mat-card>
      <button mat-raised-button color="accent" class="mySubmit2" [routerLink]="['/login']">Back</button>
      </mat-card>
    </div>
  </mat-card>
    </form>


</body>
