body{
    background-color: #424242 ;
    padding: 1px;
    height: auto;
    margin: 0;
}
.errorMsg{
    color: darkorange;
    text-align: center;
}
.login{
    color: darkorange;
    text-align: center;
}
.inputs{
    width: 100%;
    display: block;
    color: white;
    margin : 0 auto;
    position: relative;
}

.myDiv{
    width: 50%;
    background: #424242;
    border-bottom:5px solid darkorange;
    border-left:5px solid darkorange;
    border-right:5px solid darkorange;    
    color: white;
    border-radius: 1em;
    padding: 2em;  
    margin-left: auto;
    margin-right: auto;  
    margin-top: 30px;
    margin-bottom: 30px;  
}

.myWrapper{
            padding-top: 20px;
            margin : 0 auto;
            position:  absolute;
            top : 55%;
            left: 50%;
            width: 700px;
            height:600px;
            border-bottom:5px solid darkorange;
            border-left:5px solid darkorange;
            border-right:5px solid darkorange;

            transform: translate(-50%, -50%);
}
.mySubmit{
    width: 100%;
    display: block;
    color: #424242 ;
    margin : 0 auto;
    position: relative;
}

.mySubmit2{
    width: 100%;
    display: block;
    color: #424242 ;
    margin : 0 auto;
    position: relative;
    margin-top: 15px;
}
.inputsHidden{
    width: 600px;
    display: none;
    color: white;
    margin : 0 auto;
    position: relative;
}













